@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:'Poppins',sans-serif;
}

body{
  background:#edf4ff;
  display:flex;
  justify-content:center;
  min-height:100vh;
}

.app{
  width:100%;
  max-width:390px;
  padding:18px;
}

/* LOGIN */

.login-page{
  width:100%;
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  background:
  linear-gradient(
    135deg,
    #38bdf8,
    #2563eb
  );
}

.login-card{
  width:90%;
  max-width:340px;
  background:white;
  padding:35px 25px;
  border-radius:30px;
  text-align:center;
}

.login-card h1{
  color:#2563eb;
  margin-bottom:10px;
}

.login-card p{
  color:#64748b;
  margin-bottom:20px;
}

.login-card input{
  width:100%;
  padding:15px;
  margin-bottom:15px;
  border:none;
  border-radius:18px;
  background:#f1f5f9;
}

.login-card button{
  width:100%;
  padding:15px;
  border:none;
  border-radius:18px;
  background:
  linear-gradient(
    90deg,
    #38bdf8,
    #2563eb
  );
  color:white;
  font-weight:600;
}

/* TOP */

.top-card{
  background:
  linear-gradient(
    135deg,
    #38bdf8,
    #2563eb
  );
  padding:20px;
  border-radius:30px;
  color:white;
  margin-bottom:18px;
}

/* PROFILE */

.profile{
  display:flex;
  align-items:center;
  gap:12px;
  margin-bottom:18px;
}

.profile img{
  width:65px;
  height:65px;
  border-radius:50%;
  object-fit:cover;
  border:3px solid white;
}

.profile p{
  color:#dbeafe;
  font-size:14px;
}

/* LOGOUT */

.logout-btn{
  margin-top:8px;
  padding:8px 15px;
  border:none;
  border-radius:12px;
  background:white;
  color:#2563eb;
  font-size:13px;
  font-weight:600;
}

/* FILE */

#uploadProfile{
  width:100%;
  margin-bottom:18px;
  background:white;
  border-radius:15px;
  padding:8px;
}

/* BALANCE */

.balance-card{
  background:
  rgba(255,255,255,0.2);
  padding:20px;
  border-radius:25px;
}

.balance-card h1{
  font-size:38px;
}

/* DASHBOARD */

.dashboard{
  display:grid;
  grid-template-columns:1fr 1fr;
  gap:15px;
  margin-bottom:18px;
}

.small-card{
  padding:20px;
  border-radius:25px;
  color:white;
}

.income{
  background:#22c55e;
}

.expense{
  background:#ef4444;
}

/* CARD */

.card{
  background:white;
  padding:20px;
  border-radius:25px;
  margin-bottom:18px;
}

.card h2{
  margin-bottom:18px;
}

/* FORM */

.card input{
  width:100%;
  padding:15px;
  margin-bottom:14px;
  border:none;
  border-radius:18px;
  background:#f1f5f9;
}

.card button,
.statement-btn{
  width:100%;
  padding:15px;
  border:none;
  border-radius:18px;
  background:
  linear-gradient(
    90deg,
    #38bdf8,
    #2563eb
  );
  color:white;
  font-weight:600;
}

/* TRANSACTION */

.transaction{
  background:#f8fbff;
  padding:15px;
  border-radius:18px;
  margin-bottom:12px;
  display:flex;
  justify-content:space-between;
  align-items:center;
}

.transaction-left p{
  color:#64748b;
  font-size:13px;
}

.transaction-right{
  font-size:18px;
  font-weight:700;
}

.plus{
  color:#22c55e;
}

.minus{
  color:#ef4444;
}